{% extends 'templates_project/base.html' %}
{% load blog_tags %}
{% load static %}

{% block content %}



<h1>Main page</h1>
{% for ps in post  %}
    <h1>Tags:

{% for tag in ps.tags.all %}
{% if tag %}
    <a href="{% url 'main_list_tag' tag.slug %}">{{tag.name}}</a>
        {% else %}
        <p>тегов нету</p>
        {% endif %}
    {% endfor %}
</h1>
<div>
    <p> {{ps.title}} from {{ps.date_created}}</p>

    {{ps.body|markdown|truncatewords_html:20}}<br>
    <a href="{% url 'post_detail' ps.slug ps.pk %}" >Detail</a><br>

</div>

{% endfor %}
{% endblock %}